<div class="flex flex-col p-4 gap-2 pt-16 pb-16">
  <h2 class="text-3xl font-bold"><%= country[0]["name"]["official"] %></h2>
  <div class="flex justify-start items-center gap-2 p-2">
    <%= image_tag(country[0]["flags"]["svg"], class: "max-h-[100px] rounded-lg p-2") %>
    <%= image_tag(country[0]["coatOfArms"]["svg"], class: "max-h-[100px] rounded-lg p-2") %>
  </div>
  <div class="flex flex-col gap-2 mt-8 p-4 border rounded-lg">
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Common Name:</h3>
      <span><%= country[0]["name"]["common"] %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Capital City:</h3>
      <span><%= country[0]["capital"].join(" ") %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Region:</h3>
      <span><%= country[0]["region"] %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Subregion:</h3>
      <span><%= country[0]["subregion"] %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Languages:</h3>
      <div class="flex gap-2">
        <% country[0]["languages"].each_pair do |key, value| %>
          <span><%= value %></span>
        <% end %>
      </div>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Latitude/Longitude:</h3>
      <span><%= country[0]["latlng"].join(" ") %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Area:</h3>
      <span><%= country[0]["area"] %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Population:</h3>
      <span><%= country[0]["population"] %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">Timezones:</h3>
      <span><%= country[0]["timezones"].join(" ") %></span>
    </div>
    <div class="flex justify-start gap-2 p-2">
      <h3 class="font-semibold">continents:</h3>
      <span><%= country[0]["continents"].join(" ") %></span>
    </div>
  </div>
</div>
