<!DOCTYPE html>
<html>
  <head>
    <title>CountriesDirectory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="search-countries">
    <header class="p-10">
      <%= render "shared/header" %>
    </header>

    <%= turbo_frame_tag "toast" %>
    
    <main class="container mx-auto px-5 bg-gray-100">
      <%= yield %>
    </main>
  </body>
</html>
